<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ i18n 'communication.emailConfirmation.title' lng }}</title>
  </head>
  
  <body>
    <p>{{ i18n 'communication.emailConfirmation.hi_there' lng }}</p>
    <br/>

    <p>{{ i18n 'communication.emailConfirmation.thank_you' lng }}</p>
    <p>{{ i18n 'communication.emailConfirmation.to_get_started' lng }}</p>
    <a href="{{ link }}">{{ i18n 'communication.emailConfirmation.confirm_your_email' lng }}</a>
    <br/>

    <p>{{ i18n 'communication.emailConfirmation.if_you_did_not_submit' lng }}</p>
    <br/>
    
    <p>{{ i18n 'communication.emailConfirmation.regards' lng }}</p>
    <p>{{ i18n 'communication.emailConfirmation.support_team' lng }}</p>
  </body>
</html>
