<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ i18n 'communication.emailConfirmation.title' language }}</title>
  </head>
  
  <body>
    <p>{{ i18n 'communication.emailConfirmation.hi_there' language }}</p>
    <br/>

    <p>{{ i18n 'communication.emailConfirmation.thank_you' language }}</p>
    <p>{{ i18n 'communication.emailConfirmation.to_get_started' language }}</p>
    <a href="{{ link }}">{{ i18n 'communication.emailConfirmation.confirm_your_email' language }}</a>
    <br/>

    <p>{{ i18n 'communication.emailConfirmation.if_you_didnt_submit' language }}</p>
    <br/>
    
    <p>{{ i18n 'communication.emailConfirmation.regards' language }}</p>
    <p>{{ i18n 'communication.emailConfirmation.support_team' language }}</p>
  </body>
</html>
